body {
  background-color: gainsboro;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  line-height: 1.65;
  position: relative;
}

h3 {
  font-weight: 500;
}

.hero {
  height: 100%;
  width: 100%;
  position: relative;
}

.strip-wrap {
  height: 8%;
  position: relative;
}

.strip-wrap.x2 {
  height: 16%;
}

.strip-wrap .obfuscator,
.strip-wrap .strip {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.strip-wrap .obfuscator {
  z-index: 1;
}

.obfuscator {
  background-color: rgba(0, 0, 0, 0.32);
}

.obfuscator.darkness-2 {
  background-color: rgba(0, 0, 0, 0.64);
}

.obfuscator.darkness-3 {
  background-color: rgba(0, 0, 0, 0.8);
}

.strip-warp .strip {
  z-index: 0;
}

.strip .bar {
  height: 100%;
  width: calc(100% / 7);
}

.strip .bar.red {
  background-color: #cd0011;
}

.strip .bar.orange {
  background-color: #f09814;
}

.strip .bar.yellow {
  background-color: #fcee1a;
}

.strip .bar.green {
  background-color: #088219;
}

.strip .bar.blue {
  background-color: #0174c4;
}

.strip .bar.indigo {
  background-color: #060550;
}

.strip .bar.violet {
  background-color: #a60351;
}

.icon-holder a {
  background-color: rgba(0, 0, 0, 0.49);
  border-radius: 50%;
}

.icon-holder a:hover {
  background-color: rgba(0, 0, 0, 0.16);
}

.hero .content {
  position: relative;
  margin-top: 3.5rem;
}

.content img {
  display: block;
  width: 400px;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero {
  background-position: center center;
  background-size: auto 100%;
  background-repeat: repeat-y;
}

.hero .brand,
h2.heading {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
}

.brand + h6 {
  line-height: 1.65;
}

.hero .brand {
  font-size: 48px;
}

@media (min-width: 576px) {
  .hero .brand {
    font-size: 56px;
  }
}

@media (min-width: 768px) {
  .hero .brand {
    font-size: 64px;
  }
}

@media (min-width: 992px) {
  .hero .brand {
    font-size: 76px;
  }
}

section {
  margin: 3.75rem 1rem 3rem;
}

h2 + p {
  margin-top: 1.25rem;
}

.divider {
  height: 8px;
  width: 64px;
  margin: auto;
}

.divider .strip {
  height: 100%;
}

img.full {
  display: block;
  width: 100%;
}

.row > div {
  margin-top: 1.75rem;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.cta-band {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.cta-band .obfuscator {
  padding-top: 2.25rem;
  padding-bottom: 1.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*.email {
    color: #ffc107;
  }*/

.cta-band .divider {
  height: 1px;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #ffffff40;
}

.social-media .icons a {
  margin: 0.5rem;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.q,
.asterisk {
  color: rgb(230, 0, 35);
}

.asterisk {
  font-weight: 600;
}

p .asterisk {
  font-size: 1.15rem;
}
